<!-- <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./style.css">
            
            <title>Document</title>
            <style>
               .wireframe-1,
.wireframe-1 * {
  box-sizing: border-box;
}
.wireframe-1 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.hero-text-quotes {
  position: absolute;
  inset: 0;
}
.save-life-donate-blood {
  color: #3c3c3c;
  text-align: right;
  font: 700 48px/56px "Roboto", sans-serif;
  position: absolute;
  left: 971px;
  top: 324px;
  width: 453px;
  height: 286px;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged {
  color: #000000;
  text-align: right;
  font: 300 13px/25px "Roboto", sans-serif;
  position: absolute;
  left: 980px;
  top: 464px;
  width: 444px;
}
.hero-gradient-design {
  position: absolute;
  left: -1246px;
  top: -61px;
  overflow: visible;
}
.about-us {
  position: absolute;
  inset: 0;
}
.about-us2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 618px;
  top: 61px;
}
.home {
  position: absolute;
  inset: 0;
}
.home2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 472px;
  top: 61px;
}
.find-blood {
  position: absolute;
  inset: 0;
}
.find-blood2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 799px;
  top: 61px;
}
.login-button {
  position: absolute;
  inset: 0;
}
.button {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 224px;
  height: 71px;
  position: absolute;
  left: 1216px;
  top: 44px;
  box-shadow: 0px 4px 10px 0px rgba(165, 164, 164, 0.25);
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 25px "Roboto", sans-serif;
  position: absolute;
  left: 1291px;
  top: 64px;
  width: 73px;
  height: 37px;
}
.register-now {
  position: absolute;
  inset: 0;
}
.register-now2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Poppins", sans-serif;
  position: absolute;
  left: 997px;
  top: 60px;
}
.chevron-down {
  position: absolute;
  left: 1158px;
  top: 76px;
  overflow: visible;
}
.logo {
  position: absolute;
  left: 124px;
  top: 45px;
  overflow: visible;
}
.tab-bar-selected {
  position: absolute;
  inset: 0;
}
.rectangle-31 {
  background: #4b4949;
  width: 72px;
  height: 5px;
  position: absolute;
  left: 472px;
  top: 99px;
}
.blood-donation-bro {
  position: absolute;
  inset: 0;
}
.background-simple {
  opacity: 0;
  position: absolute;
  left: 87.17px;
  top: 184.42px;
  overflow: visible;
}
.furniture {
  width: 105.16px;
  height: 300.85px;
  position: static;
}
.group {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 452.78px;
  top: 414.42px;
  overflow: visible;
}
.windows {
  width: 811.92px;
  height: 249.61px;
  position: static;
}
.group2 {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 581.68px;
  top: 188.18px;
  overflow: visible;
}
.group3 {
  opacity: 0.30000001192092896;
  position: absolute;
  left: 111.86px;
  top: 188.18px;
  overflow: visible;
}
.character-2 {
  position: absolute;
  left: 548.14px;
  top: 234.03px;
  overflow: visible;
}
.character-3 {
  position: absolute;
  left: 538.28px;
  top: 230.67px;
  overflow: visible;
}
.character-1 {
  position: absolute;
  left: 90.04px;
  top: 230.66px;
  overflow: visible;
}
.plant {
  position: absolute;
  left: 916.6px;
  top: 463.65px;
  overflow: visible;
}
.floor {
  position: absolute;
  left: 85px;
  top: 716.95px;
  overflow: visible;
}

            </style>
        </head>
        <body>
            <div class="wireframe-1">
                <div class="hero-text-quotes">
                  <div class="save-life-donate-blood">Save Life Donate<br />Blood</div>
              
                  <div
                    class="lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged"
                  >
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry&#039;s standard dummy text ever since
                    the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially
                    unchanged.
                    <form action="/form" method="get">
                        <button type="submit">Donate Blood</button>
                    </form> 
                  </div>
                 
                </div>
              
            
              
                <div class="about-us">
                  <div class="about-us2">About Us</div>
                </div>
              
                <div class="home">
                  <div class="home2">Home</div>
                </div>
              
                <div class="find-blood">
                  <div class="find-blood2">Find Blood</div>
                </div>
              
                <div class="login-button">
                  <div class="button"></div>
              
                  <div class="contact">Log In</div>
                </div>
              
                <div class="register-now">
                  <div class="register-now2">Register Now</div>
              
                 
                  
                </div>
              </div>
              
            

        </body>
        </html> -->
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
            
            <title>Document</title>
        </head>
        <body>
          
     

<h2 style="color: #000000;"> List</h2>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Blood Group</th>
    </tr>
    </thead>
    <tbody>
     
    <tr>
        <td><%= us.name %></td>
        <td><%= us.age %></td>
        <td><%= us.email %></td></tr>
<tbody>
</table>
 
</div>


        </body>
        </html>